In [1]:
import pyspark
import pandas as pd

In [2]:
pd.read_csv('test.csv')

     Name   Age  Experience
0    Eshan   23           4
1  Chintoo   24           0
2   Munnu    29           6
3   Mickey   19           0

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('test.csv',header=True,inferSchema=True)

In [7]:
df_pyspark.show()

+-------+---+----------+
|  Name |Age|Experience|
+-------+---+----------+
|  Eshan| 23|         4|
|Chintoo| 24|         0|
| Munnu | 29|         6|
| Mickey| 19|         0|
+-------+---+----------+

In [8]:
df_pyspark

DataFrame[Name : string, Age: int, Experience: int]

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
print(df_pyspark.head(5))

[Row(Name ='Eshan', Age=23, Experience=4), Row(Name ='Chintoo', Age=24, Experience=0), Row(Name ='Munnu ', Age=29, Experience=6), Row(Name ='Mickey', Age=19, Experience=0)]

In [11]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
import numpy as np

In [24]:
df_pyspark = df_pyspark.withColumn('Age after 2 years',df_pyspark['Age']+2)

In [32]:
df_pyspark.describe().show()

+-------+-------+-----------------+----------+-----------------+
|summary|  Name |              Age|Experience|Age after 2 years|
+-------+-------+-----------------+----------+-----------------+
|  count|      4|                4|         4|                4|
|   mean|   null|            23.75|       2.5|            25.75|
| stddev|   null|4.112987559751021|       3.0|4.112987559751021|
|    min|Chintoo|               19|         0|               21|
|    max| Munnu |               29|         6|               31|
+-------+-------+-----------------+----------+-----------------+

In [34]:
df_pyspark=df_pyspark.drop('Age after 2 years')

In [35]:
df_pyspark

DataFrame[Name : string, Age: int, Experience: int]